:root {
    --secondaryTextColour: #AA4A30;
    --mainTextColour: #D57149;
    --secondaryBGColour: #E89F71;
    --mainBGColour: #EDCFA9;
    --backUpFont: "Lucida Console";
}
body {
    font-size: 16px;
    display: flex;
    background-color: var(--mainBGColour);
    border: .3rem solid var(--secondaryBGColour);
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--backUpFont);
    color: var(--mainTextColour);
    padding: 1rem 1rem;
}

h1 > a:visited {
    color: var(--secondaryTextColour);
}

main > p {
    font-size: 17px;
}

main > input {
    /* max-width: 20rem; */
    border: 2px solid var(--secondaryBGColour);
    line-height: 26px;
    border-radius: 5px;
}

h1 {
    color: var(--mainTextColour);
    margin-bottom: 0;
    font-family: var(--backUpFont);
}
/* table {
    align-self: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 55%;
    border: .5rem solid var(--secondaryBGColour);
    border-collapse: collapse;
    font-family: var(--backUpFont);
    font-size: 1.25rem;
}
th, td {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: var(--mainTextColour);
    border: .5rem solid var(--secondaryBGColour);
    text-align: center;
    vertical-align: middle;
} */
.tableRowSelected {
    font-style: italic;
    text-decoration: line-through;
    color: red;
}